includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/tomasvotruba/bladestan/config/extension.neon

parameters:
    paths:
        - app/
        - bootstrap
        - config
        - database
        - routes
        - tests

    level: max
