/* Scrollbar  */

:root
{
    --scrollbarBG: #0097A7;
    --thumbBG: #0097A7;
}

::-webkit-scrollbar
{
    width: 0.5em;
}

::-webkit-scrollbar-track
{
    background: var(--scrollbarBG);
}

::-webkit-scrollbar-thumb
{
    background: var(--thumbBG);
}

@supports (scrollbar-color: red blue)
{
    *
    {
        scrollbar-color: var(--scrollbarBG) transparent;
    }
}

/* Heading links */

.heading-permalink
{
    font-size: .8em;
    vertical-align: super;
    text-decoration: none;
    color: transparent;
}

h1:hover .heading-permalink,
h2:hover .heading-permalink,
h3:hover .heading-permalink,
h4:hover .heading-permalink,
h5:hover .heading-permalink,
h6:hover .heading-permalink,
.heading-permalink:hover,
.heading-permalink:focus
{
    text-decoration: none;
    color: #777;
}

/* Pico overrides */

#theme-toggle
{
    cursor: pointer;
}

.pico-button-override
{
    background: transparent;
    border: transparent;
}

/* Embedded overrides */

.embedded-content
{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}

/* Ascii */

.ascii
{
    background: transparent;
    opacity: .1;
}

.ascii-wrapper
{
    scale: 0.6;
    position: absolute;
    z-index: -1;
}

#note
{
    top: -3rem;
    right: 1rem;
}

#initials
{
    bottom: 0;
    right: 0;
}

#keyboard
{
    bottom: 10rem;
    left: -20rem;
}
