/* Alpine */

[x-cloak] {
    display: none !important;
}

/* Scrollbar  */

:root {
    --scrollbarBG: #0097A7;
    --thumbBG: #0097A7;
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

::-webkit-scrollbar-thumb {
    background: var(--thumbBG);
}

@supports (scrollbar-color: red blue) {
    * {
        scrollbar-color: var(--scrollbarBG) transparent;
    }
}

/* Heading links */

.heading-permalink {
    font-size: .8em;
    vertical-align: super;
    text-decoration: none;
    color: transparent;
}

h1:hover .heading-permalink,
h2:hover .heading-permalink,
h3:hover .heading-permalink,
h4:hover .heading-permalink,
h5:hover .heading-permalink,
h6:hover .heading-permalink,
.heading-permalink:hover,
.heading-permalink:focus {
    text-decoration: none;
    color: #777;
}

/* Pico overrides */

#theme-toggle {
    cursor: pointer;
}

.pico-button-override {
    background: transparent;
    border: transparent;
}

/* Ascii */

#ascii-grid {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: -1;
    overflow: hidden;
}

.ascii {
    background: transparent;
    overflow: hidden;
    opacity: .1;
}

/* Misc */

.hidden {
    display: none;
}

@media screen and (max-width: 600px) {
    .mobile-hidden {
        display: none;
    }
}

a:has(hgroup):focus-visible {
    box-shadow: none;
}
